.DS_Store
config.php
*~
*.swo
*.swp
coverage
build/coverage
build/coverage/*
build/logs
build/api
build/pdepend
build/phpdox
build/build
cache.properties

# Composer files (but keep tijsverkoyen library)
composer.lock
vendor/autoload.php
vendor/bin
vendor/composer
vendor/myclabs
vendor/nikic
vendor/phar-io
vendor/phpunit
vendor/sebastian
vendor/theseer